{% assign colName = include.collection %}
{% assign col = site.collections | where: 'label',colName | first %}

<div class="collection-list">
{% if col %}

  {% assign collection = site[col.label] %}
  {% assign colTitle = col.title | default: colName | replace: '_',' ' %}

  <h2><a href="{{ colName | prefix: '/' | append: '/' }}">{{ colTitle }}</a></h2>

  {% if col.description %}<p>{{ col.description }}</p>{% endif %}

  <div>
    <ul>
    {% for item in collection | sort: "title" %}
      <li>
        {% assign mytitle = item.title | default: item.url %}
        <a href="{{ item.url }}">{{ mytitle | replace:'_',' ' | replace:'-',' ' }}</a> {% if item.date %}({{ item.date | date: "%Y-%m-%d %H:%M" }}){% endif %}
        <p>{% if item.description %}
            {{ item.description }}
        {% else %}
            {{ item.excerpt | strip_html }}
        {% endif %}</p>
      </li>
    {% endfor %}
    </ul>
  </div>

{% else %}

  <p>There is no site collection called <code>{{ colName }}</code>.</p>

{% endif %}
</div>
