{% assign dir = include.dir | default: page.dir %}
<div class="page-list">
{% assign mypages = site.pages | where:"dir", dir | where_exp:"item", "item.name != page.name" %}
{ % if mypages.length > 0 % }
  <ul>
  {% for item in mypages | sort: "title" %}
    {% assign mytitle = item.title | default: item.url %}
    <li>
      <a href="{{ item.url }}">{{ mytitle | replace:'_',' ' | replace:'-',' ' }}</a>
      <p>{% if item.description %}
          {{ item.description }}
      {% else %}
          {{ item.excerpt | strip_html }}
      {% endif %}</p>
    </li>
  {% endfor %}
  </ul>
{ % else % }
  <p>No pages found in folder <code>{{ dir }}</code>.</p>
{ % endif % }
</div>


{% if site.ti_debug == true %}
<script>
    console.log('v1.0', 'DIR: ', '{{ dir }}', {{mypages.length}})
    ;(function() {
        var mypages = {{ mypages | jsonify | strip_html }};
        console.log('--mypages (jsonify)--', mypages)

    })()
</script>
{% endif %}
