<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body>

    {%- include header.html -%}

    <main class="page-content" aria-label="Content">
      <div class="wrapper">
        <p style="border:1px solid silver;margin:0.5em;text-weight:bold;">
          Please note that this site is no longer being updated.
          All content has been merged with my IT Blog "Much Ado About IT".
          <a href="https://it.knightnet.org.uk/kb{{ page.url }}" title="Link to this content on the alternate site">Click here to see this page on the other site</a>
        </p>
        {{ content }}
      </div>
    </main>

    {%- include footer.html -%}

  </body>

</html>
